/* GG Sans Font Family - Discord's Official Font */

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-Normal.woff2') format('woff2'),
       url('./ggsans-Normal.woff') format('woff'),
       url('./ggsans-Normal.ttf') format('truetype'),
       url('./ggsans-Normal.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-NormalItalic.woff2') format('woff2'),
       url('./ggsans-NormalItalic.woff') format('woff'),
       url('./ggsans-NormalItalic.ttf') format('truetype'),
       url('./ggsans-NormalItalic.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-Medium.woff2') format('woff2'),
       url('./ggsans-Medium.woff') format('woff'),
       url('./ggsans-Medium.ttf') format('truetype'),
       url('./ggsans-Medium.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-MediumItalic.woff2') format('woff2'),
       url('./ggsans-MediumItalic.woff') format('woff'),
       url('./ggsans-MediumItalic.ttf') format('truetype'),
       url('./ggsans-MediumItalic.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-Semibold.woff2') format('woff2'),
       url('./ggsans-Semibold.woff') format('woff'),
       url('./ggsans-Semibold.ttf') format('truetype'),
       url('./ggsans-Semibold.eot') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-SemiboldItalic.woff2') format('woff2'),
       url('./ggsans-SemiboldItalic.woff') format('woff'),
       url('./ggsans-SemiboldItalic.ttf') format('truetype'),
       url('./ggsans-SemiboldItalic.eot') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-Bold.woff2') format('woff2'),
       url('./ggsans-Bold.woff') format('woff'),
       url('./ggsans-Bold.ttf') format('truetype'),
       url('./ggsans-Bold.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-BoldItalic.woff2') format('woff2'),
       url('./ggsans-BoldItalic.woff') format('woff'),
       url('./ggsans-BoldItalic.ttf') format('truetype'),
       url('./ggsans-BoldItalic.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-ExtraBold.woff2') format('woff2'),
       url('./ggsans-ExtraBold.woff') format('woff'),
       url('./ggsans-ExtraBold.ttf') format('truetype'),
       url('./ggsans-ExtraBold.eot') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GG Sans';
  src: url('./ggsans-ExtraBoldItalic.woff2') format('woff2'),
       url('./ggsans-ExtraBoldItalic.woff') format('woff'),
       url('./ggsans-ExtraBoldItalic.ttf') format('truetype'),
       url('./ggsans-ExtraBoldItalic.eot') format('embedded-opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
