@import "tailwindcss";
@import "./theme.css";

/* Base styles */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff00;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff00;
}
  
*::-webkit-scrollbar-track:active {
  background-color: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #74757e;
}

/* Utility to hide scrollbars but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Animation utilities */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

